<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.warrr.zipflex.api.region.dao.RegionDao">

	<select id="findAllSido"
		resultType="com.warrr.zipflex.api.region.dto.SidoDto">
		SELECT dong_code AS code, sido_name AS name
		FROM dongcodes
		WHERE gugun_name IS NULL AND dong_name IS NULL
		ORDER BY sido_name
	</select>

	<select id="findAllGugun" parameterType="map"
		resultType="com.warrr.zipflex.api.region.dto.GugunDto">
		SELECT dong_code AS code, gugun_name AS name
		FROM dongcodes
		WHERE LEFT(dong_code, 2) = #{sidoCodePrefix}
		AND dong_name IS NULL
		AND
		gugun_name is NOT NULL
		ORDER BY gugun_name
	</select>

	<select id="findAllDong" parameterType="map"
		resultType="com.warrr.zipflex.api.region.dto.DongDto">
		SELECT dong_code AS code, dong_name AS name
		FROM dongcodes
		WHERE LEFT(dong_code, 5) = #{gugunCode}
		AND dong_name IS NOT NULL
		ORDER
		BY dong_name
	</select>


</mapper>
